@model IEnumerable<WatchOnline_.Models.Watch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="color:darksalmon; text-align:center;">
    <a href="~/watches"><h1><b>Watch Online</b></h1></a>
</p>
 <br>
<br>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @*@Html.DisplayFor(modelItem => item.Brand.BrandName)

            @Html.DisplayFor(modelItem => item.Gender.GenderName)

            @Html.DisplayFor(modelItem => item.RecommendationId)

            @Html.DisplayFor(modelItem => item.ShoppingCartId)

            @Html.DisplayFor(modelItem => item.WatchStock)*@
        <div class="col-md-3">
            <div class="card">
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="watch">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <p>@Html.DisplayFor(modelItem => item.Price)</p>
                    <p><button>@Html.ActionLink("הוספה לסל הקניות", "Details", new { id = item.WatchId })</button></p>
</div>
            </div>
            <br>
        </div>
        }
    </div>
</div>

@section css{
    <link rel="stylesheet" href="~/Content/Site.css" />
}
