@model IEnumerable<WatchOnline_.Models.Watch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender.GenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecommendationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoppingCartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WatchStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.GenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecommendationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoppingCartId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WatchStock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WatchId })
        </td>
    </tr>
}

</table>
